.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary-accent);
  padding: 16px;
}
.logoImage {
  width: 50px;
  aspect-ratio: 1/1;
}

.headline {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}
.rules {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
}
