.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--primary-accent);
  bottom: 0;
  padding: 0.5rem;
}
.ownLinks {
  display: flex;
  align-items: center;
}

.aboutUs {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.5rem;
}

.githubLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  height: 2rem;
}
.githubLink img {
  height: 100%;
  margin-right: 0.25rem;
}

.link {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: small;
}
