@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--base-font);
}

.grid_main_wrapper {
  min-height: calc(100vh - 79px);
  background-color: var(--secondary-accent);
}
.grid_footer {
  height: 79px;
}

:root {
  --base-font: "Roboto", sans-serif;
  --primary-accent: #2ec4b6;
  --secondary-accent: #f7efe6;
  --third-color: #e5e5f7;
  --fourth-color: var(--secondary-accent);
  --secondary-card: #ffbf69;
  --third-card: #ff9f1c;
}
